name: CI/CD

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - develop
      - main
    
jobs:
  lint-api:
    name: Lint and Type Check API
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'

    - name: Install dependencies
      working-directory: ./api
      run: npm install

    - name: Run lint
      working-directory: ./api
      run: npm run lint

    - name: Type check
      working-directory: ./api
      run: npm run build

  deploy-database-dev:
    name: Deploy Database stack to dev stage
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
  
    - name: serverless deploy
      uses: serverless/github-action@v4
      with:
        args: -c "cd ./db && serverless deploy --stage dev"
        entrypoint: /bin/sh
      env:
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ vars.AWS_REGION }}

  deploy-api-dev:
    name: Deploy API stack to dev stage
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
    needs: deploy-database-dev

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: serverless deploy
      uses: serverless/github-action@v4
      with:
        args: -c "cd ./api && serverless deploy --stage dev"
        entrypoint: /bin/sh
      env:
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ vars.AWS_REGION }}

  deploy-database-prod:
    name: Deploy Database stack to prod stage
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    environment: prod

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
  
    - name: serverless deploy
      uses: serverless/github-action@v4
      with:
        args: -c "cd ./db && serverless deploy --stage prod"
        entrypoint: /bin/sh
      env:
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ vars.AWS_REGION }}

  deploy-prod:
    name: Deploy API stack to prod stage
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    environment: prod
    needs: deploy-database-prod

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
  
    - name: serverless deploy
      uses: serverless/github-action@v4
      with:
        args: -c "cd ./api && serverless deploy --stage prod"
        entrypoint: /bin/sh
      env:
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ vars.AWS_REGION }}
